
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
Data/__pycache__/curvePhotos.cpython-39.pyc
Data/__pycache__/retreiveImageData.cpython-39.pyc
